{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% load static %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <img style="width: 100%" src = "{% static 'img/bris.png' %}" alt="" width="500" height="200">
    </div>
  </div>



<div class="py-4">
  <div class="container">
    <div class="row">
      {% for i in '12345678' %}
      <div class="col-9 mx-auto col-md-6 col-lg-3 py-4">
        <div class="card-mb-4">
          <img src="{% static 'img/apple.png' %}" class="card-img-top" alt="">
          <div class="card-footer d-flex justify-content-between"
           style="background: transparent">
            samsung Khattak
            <h5 class="text-info font-italic mb-0">
              £399
            </h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
